.row {
    display: flex;
    flex-flow: row;
    align-items: center;
}

p.underrated {
    color: #aaaaaa;
    font-style: italic;
}

p.hint {
    font-size: .8em;
    color: #343434;
    font-style: italic;
}