.form__container {
  box-sizing: border-box;
  width: 100%;
  margin: 2rem 0;
  padding: 1rem;
  background-color: #ffffff50;
  border-top-left-radius: 1.5rem;
  max-width: 950px;
}
.form__container #answer {
  width: 100%;
  justify-content: space-between;
}
.form__container > h2 {
  padding: .4rem;
  background-color: goldenrod;
  margin-right: auto;
}

.form {
  width: 100%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}
.form > div {
  width: 100%;
  display: flex;
  flex-flow: column;
  padding: .5rem;
}
.form > div label {
  flex-grow: 1;
}
.form select, .form input {
  font-size: 1.2em;
}

.form__container > div:not(.form) {
  width: 100%;
  justify-content: space-between;
  padding: .3rem 0;
  font-size: 1.2em;
}
.form__container > div:not(.form) select, .form__container > div:not(.form) input {
  font-size: 1.2em;
}
